<div class="section">
  <div class="container">
    <div class="row ">
      <div class="column">
        <h1 class="title">Creat a new Event</h1>
        <%= render "form", event: @event %>
      </div>
    </div>
  </div>
</div>
<nav class="navbar fixed-bottom">
  <div class="navbar-menu">
    <div class="navbar-item">
      <div class="field ">
        <p class=" control">
          <%= link_to "Cancel", events_path, class: "button " %></p>
      </div>
    </div>
  </div>
</nav>
